<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Action, exercise and practice.</h2>
                </div>
            </div>
            <div class="row container text-center">
              <p>Praxis is a conference that hopes to gather ordinary people interested in mission. Our hope is to envision and encourage increased missional praxis in Ireland. We have two international leaders who have been helping small communities turn theory into action and practise this mission for over twenty years.</p>
                <a href="/register" class="btn btn-xl">Register</a>
            </div>
        </div>
    </section>
