footer {
    padding: 25px 0;
    background-color: white;
}

footer .footer__links {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: {{ site.data.template.font.primary }};
    line-height: 40px;
}
