.page-content {
  padding: 5%;
  margin: 30px 15vw 60px 15vw;
  img {
    width: 100%;
  }
  h2, h3, ol, p {
    color: black;
    text-align: left;
  }
  p, ol {
    font-size: 110%;
  }
}

@media screen and (max-width : 1200px){
  .page-content {
      margin: 100px 15vw 60px 15vw;
  }
}

@media screen and (max-width : 760px){
  .page-content {
      margin: 80px 10px 10px 10px;
  }
  h1 {
    font-size: 130%;
  }
  h2 {
    font-size: 120%;
  }
  p, ol, li {
    font-size: 100%;
  }
}
