<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 dictionary-entry">
                    <!-- <h2 class="section-heading">Action, exercise and practice.</h2> -->
                    <strong class="dictionary-entry__word">praxis</strong> [prak-sis]
                    <em class="dictionary-entry__type">noun</em>,<br>
                    <span>plural praxises, praxes [prak-seez]</span>
                    <ol>
                      <li>practice, as distinguished from theory; application or use, as of knowledge or skills.</li>
                      <li>convention, habit, or custom.</li>
                      <li>a set of examples for practice.</li>
                    </ol>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <p>Do you have a heart for Gods mission? Are you interested in following Jesus on his mission to rewrite the story of our culture? This is an invitation to join with others to the movement of Jesus and to learn from experienced practitioners about what mission could look like.</p>
                <p>Praxis 2018 saw a significant number of ordinary people gather to learn and be challenged together. Since then Praxis has started Learning Communities and have collaborated with others for a Prayer Gathering. At the Praxis Conference this year we want to gather again to learn form others and share what God is doing in our own contexts. We desire to bring together ordinary people who care about mission and seeing the gospel impact others. Through this gathering and other things we want to envision and encourage more practical expressions of mission across Ireland. We are excited about those who will contribute to the conference this year and we plan to add more over the next few months.</p>
                <p>So come and join us this year as we reimagine mission for ordinary people.</p>
                <a href="/register" class="btn btn-xl">Register</a>
              </div>
            </div>
        </div>
    </section>
